@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Shippori+Mincho+B1:wght@600&display=swap");

p {
  text-align: center;
  font-style: italic;
  font-family: cursive;
}

.fas {
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 0.2em;
}

.fas.fa-thumbs-up {
  color: rgb(44, 155, 22);
}

.fas.fa-thumbs-down {
  color: rgb(255, 94, 0);
}

#down {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  padding: 5px 15px;
  font-size: 18px;
}

.fas.fa-trash-alt {
  color: rgb(0, 140, 255);
  padding: 5px 15px;
  height: 30px;
  line-height: 30px;
  padding: 5px 15px;
  font-size: 18px;
}
