@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Shippori+Mincho+B1:wght@600&display=swap");

p {
  text-align: center;
  font-style: italic;
  font-family: cursive;
}

.fas {
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 0.2em;
  color: steelblue;
  padding: 0;
}

.fas.fa-thumbs-down {
  color: rgb(255, 94, 0);
}

#voteButtons {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  padding: 5px 15px;
  font-size: 18px;
}
