<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i = index'>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{quote.author}}</div>
                    <div class="card-body">
                        <p class="card-text">{{quote.quoteInput}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>