<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
    <div class="jumbotron">
        <h3>Do you have a favorite quote?</h3>
        <h4>It could be anything inspirational, educative, motivating or even fun!</h4>
        <h5>Type it down below</h5>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>Add quote here:</h5>
            <hr>
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>

    <div class="row card-group">
        <div class="col-sm-12 col-md-6 col-lg-6" *ngFor='let quote of quotes;let i = index'>
            <div id={{i}} class="card" appHighlight>
                <div class="card-header">Author: {{quote.author}}</div>
                <div class="card-body">
                    <p class="card-text">{{quote.quoteInput}}</p>
                    <p>
                        <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated {{quote.postedDate | dateCount}} ago on
                        {{quote.postedDate | date}}</small>
                </div>
            </div>
        </div>

    </div>



</div>