<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i = index'>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">{{quote.quoteInput}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<p>quote works!</p>