@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital@1&family=Shippori+Mincho+B1:wght@600&display=swap");

.jumbotron {
  background-color: steelblue;
  font-family: "Noto Serif", serif;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
  text-align: left;
  background-image: url(../img/pen.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.jumbotron h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 0.14em;
}

.jumbotron h4 {
  font-weight: 400;
  font-size: 1.7rem;
  text-align: left;
  margin-top: 1em;
}

.jumbotron h5 {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 1em;
}

.row h5 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 1pt;
}

.card {
  margin-bottom: 2em;
  background-color: #fff;
}

.card-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 30px;
  padding: 5px 15px;
}

.card-header #author {
  font-size: 18px;
  letter-spacing: 0.1em;
}

.card-header .fas {
  cursor: pointer;
  background: black;
  border-radius: 50%;
  padding: 0.2em;
  color: white;
}

.card-text .fas {
  font-size: 1.5rem;
  padding: 1.2em;
  display: block;
  color: gray;
}

.card-text {
  font-family: "Shippori Mincho B1", serif;
  font-size: 23px;
  text-align: center;
}

.card-footer {
  font-size: 1rem;
}
