<form>
    <div class="form-group">
        <label for="quoteInput">Quote:</label>
        <input type="text" class="form-control" id="quoteInput" required>
        <small class="form-text text-muted">Credible quotes are appreciated.</small>
    </div>

    <div class="form-group">
        <label for="author">Author of the quote:</label>
        <input type="text" class="form-control" id="author">
    </div>

    <div class="form-group">
        <label for="publisher">Publisher:</label>
        <input type="text" class="form-control" id="publisher">
    </div>


    <div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit Quote</button>
    </div>
</form>